.gioco:hover {
    cursor: pointer;
    background-color: #b6effb;
    transition: 0.3s;
}

.gioco {
    background-color: #b6effb;
    border-radius: 30px;
    font-family: NomeGioco;
}

.giocoSpeciale {
    background-color: #ff5252;
    border-radius: 30px;
    font-family: NomeGioco;
}

.titolo {
    font-size: 5vw;
    font-family: pacman;
    color: white;
    background-color: #c5d7f2;
    color: black;
    max-width: 90%;
}

p,
button {
    font-family: Arial;
}

@font-face {
    font-family: pacman;
    src: url("./font/PAC-FONT.TTF");
}

@font-face {
    font-family: NomeGioco;
    src: url("./font/Beyond Wonderland.ttf");
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

#logoImg {
    width: 90%;
    height: 90%;
}

.logoFooter {
    width: 100px;
    height: 100px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    border-top: 2px solid grey;
}

.active {
    background-color: grey;
}


#areaCentralePagina {
    margin-bottom: 200px;
}
