h2 {
    text-align: center;
}

.mela {
    width: 30px;
    height: 30px;
}

table {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 2%;
    box-shadow: 6px 6px 20px #353535;
    background-color: rgb(0, 97, 57);
    border-top: 6px solid rgb(163, 179, 197);
    border-left: 6px solid rgb(125, 146, 167);
    border-right: 10px solid rgb(117, 137, 155);
    border-bottom: 10px solid rgb(100, 115, 129);
    border-collapse: collapse;
}

td {
    width: 35px;
    height: 35px;
}

.campo1 {
    background-color: greenyellow;
}

.campo2 {
    background-color: rgb(0, 207, 0);
}

#bottone-gioca {
    font-size: 4.0em;
    width: 300px;
    height: 100px;
}

button {
    color: rgb(169, 198, 223);
    background-color: rgb(218, 218, 218);
    text-align: center;
    border-radius: 8px;
    padding: 1px 12px;
    font-family: "Comic Sans MS";
    font-weight: bold;
    border-color: rgb(51, 51, 51);
}

button:hover {
    background-color: gray;
}

#box-1 {
    order: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#box-2 {
    order: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#box-3 {
    order: 3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    visibility: hidden;
    width: 200px;
    height: 100%;
    background-color: transparent;
    border: transparent;
}

#vittoria,
#sconfitta {
    border-radius: 8px;
    font-family: "Comic Sans MS";
    font-size: 3.0em;
}

#row-2 {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding: 50px;
}

#row-3 {
    display: flex;
    justify-content: center;
}

#container {
    justify-content: center;
}

#bottone-tornaAlMenù,
#bottone-rigioca,
#bottone-gioca {
    width: 300px;
    height: auto;
    border-radius: 2%;
    box-shadow: 6px 6px 20px #353535;
    border-spacing: 5px;
    border-top: 6px solid rgb(163, 179, 197);
    border-left: 6px solid rgb(125, 146, 167);
    border-right: 10px solid rgb(117, 137, 155);
    border-bottom: 10px solid rgb(100, 115, 129);
}

.bottone-menù {
    display: flex;
    font-size: xx-large;
    padding: 30px;
}

#box-3-punti,
#box-3-aumento {
    font: bold 22px arial, serif;
    background-color: gray;
    padding: 10px;
    border-radius: 2%;
    box-shadow: 6px 6px 20px #353535;
    border-spacing: 5px;
    background-color: rgb(169, 198, 223);
    border-top: 6px solid rgb(163, 179, 197);
    border-left: 6px solid rgb(125, 146, 167);
    border-right: 10px solid rgb(117, 137, 155);
    border-bottom: 10px solid rgb(100, 115, 129);
    border-collapse: separate;
}

#box-3-punti {
    text-decoration: underline;
    font-size: 2.0em;
    padding: 10px;
    color: red;
}

#box-3-aumento {
    font-size: 2.0em;
    padding: 10px;
    visibility: hidden;
    display: none;
}

.serpente {
    width: 100%;
    height: 100%;
}

.scrittaRossa {
    color: red;
}

.scrittaBianca {
    color: white;
}

#comeSiGioca {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    color: black;
    padding: 20px;
    margin-top: 40%;
    border: 2px solid rgb(0, 132, 221);
    border-radius: 30%;
}

#comeSiGioca:hover {
    background-color: #00b7ff;
}