h2 {
    text-align: center;
}

.img {
    width: 100px;
    height: 100px;
    padding: 30px;
}

table {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 2%;
    box-shadow: 6px 6px 20px #353535;
    background-color: rgb(0, 97, 57);
    border-top: 6px solid rgb(163, 179, 197);
    border-left: 6px solid rgb(125, 146, 167);
    border-right: 10px solid rgb(117, 137, 155);
    border-bottom: 10px solid rgb(100, 115, 129);
    border-collapse: collapse;
}

td {
    background-color: aliceblue;
    border: 2px solid black;
    width: 150px;
    height: 150px;
    font-size: xx-large;
    font-weight: bold;
    padding: 2px;
    color: rgb(33, 37, 41);
    text-align: center;
}

td:hover {
    background-color: rgb(107, 107, 107);
}

/* #bottone-gioca {
    font-size: 4.0em;
    width: 300px;
    height: 100px;
} */
/* button {
    color: rgb(169, 198, 223);
    background-color: rgb(218, 218, 218);
    text-align: center;
    border-radius: 8px;
    padding: 1px 12px;
    font-family: "Arial";
    font-weight: bold;
    border-color: rgb(51, 51, 51);
}
button:hover {
    background-color: gray;
} */
/* #bottone-tornaAlMenù,
#bottone-rigioca,
#bottone-gioca {
    width: 300px;
    height: auto;
    border-radius: 2%;
    box-shadow: 6px 6px 20px #353535;
    border-spacing: 5px;
    border-top: 6px solid rgb(163, 179, 197);
    border-left: 6px solid rgb(125, 146, 167);
    border-right: 10px solid rgb(117, 137, 155);
    border-bottom: 10px solid rgb(100, 115, 129);
}

.bottone-menù {
    display: flex;
    font-size: xx-large;
    padding: 30px;
} */

/* VECCHIA STRUTTURA */
/* #box-1 {
    order: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#box-2 {
    order: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#box-3 {
    order: 3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    visibility: hidden;
    height: 100%;
    background-color: transparent;
    border: transparent;
} */
/* #row-2 {
    padding-top: 50px;
}
#row-3 {
    display: flex;
    justify-content: center;
    padding-top: 20px;
} */
/* #container {
    justify-content: center;
} */


#bottone-facile,
#bottone-normale,
#bottone-difficile {
    height: 50px;
    width: 200px;
    text-align: center;
    border-radius: 8px;
    padding: 1px 12px;
    font-family: "Comic Sans MS";
    font-size: 1.4em;
    font-weight: bold;
}

#bottone-1vs1 {
    height: 50px;
    width: 200px;
    text-align: center;
    border-radius: 8px;
    padding: 1px 12px;
    font-family: "Comic Sans MS";
    font-size: 1.4em;
    font-weight: bold;
}

#vittoria-sconfitta {
    border-radius: 8px;
    font-family: "Comic Sans MS";
    font-size: 3.0em;
}

#menù-container {
    display: flex;
    height: 300px;
}


.name {
    font-size: xx-large;
    text-align: center;
}

.menù-scelta {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}


.opzione {
    width: 300px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.evidenziato {
    background-color: rgb(107, 107, 107);
}

#box-3-modalità {
    font: bold 22px arial, serif;
    padding: 10px;
    border-radius: 2%;
    box-shadow: 6px 6px 20px #353535;
    border-spacing: 5px;
    background-color: rgb(169, 198, 223);
    border-top: 6px solid rgb(163, 179, 197);
    border-left: 6px solid rgb(125, 146, 167);
    border-right: 10px solid rgb(117, 137, 155);
    border-bottom: 10px solid rgb(100, 115, 129);
    border-collapse: separate;
}

.testoAlCentro {
    text-align: center;
}

/* STRUTTURA PAGINA */
#box-3 {
    visibility: hidden;
}
#box-1, #box-2, #box-3 {
    /* border: 1px solid black; */
    margin-bottom: 20px;
}
#container {
    margin-top: 50px;
}
